.form {
    margin-top: 50px;
}

.form__fieldset {
    
    border-color: hsl(0, 0%, 30%);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    background-color: white;
}

.form__legend {
    background-color: hsl(120, 100%, 26%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.form__list {
    list-style: none;
    font-weight: 700;
}

.form__listItem {
    padding: 10px;
}

.form__labelText {
    width: 170px;
    display: inline-block;
    
}

.form__buttonContainer{
    text-align: center;
}

.form__button {
    width: 40%;
    padding: 7px;
    background-color: hsl(120, 100%, 26%);
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
}

.form__button:hover {
    background-color: hsl(120, 100%, 30%);
}

.form__button:active {
    background-color: hsl(120, 100%, 35%);
}

.form__input {
    padding: 3px;
    border-width: 2px;
    border-radius: 5px;
    width: 250px;
}

.form__result {
    width: 100px;
    display: inline-block;
}