html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: hsl(0, 0%, 90%);
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  background-image: url("./backgroundEuro.jpg");
  background-size: 1600px auto;
  background-repeat: repeat;
  background-position: center;
}