.footer {
    background-color: hsl(120, 100%, 26%);
    padding: 10px;
    margin-top: 40px;
    color: white;
    font-size: 13px;
}

.footer__link {
    color: hsl(195, 100%, 80%);
}

.footer__link:hover {
    color: hsl(195, 100%, 85%);
}